#display-winner-modal{
    width: 300px;
    padding: 20px 0 20px 0;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    z-index: 10;
    background-color: #eeeeee;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#display-winner-modal.active{
    transform: translate(-50%, -50%) scale(1);
}

#new-game-button{
    padding: 12px;
    font-size: 15px;
    color: #eeeeee;
    background-color: #444444;
    border-radius: 10px;
    border: none;
}

#new-game-button:hover{
    cursor: pointer;
    transform: scale(1.03)
}